* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*HEADER*/

header {
   min-height: 20vh;
   background-color: #17bfbf;
}

nav {
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    align-items: center;
    justify-content: space-around;
}


.btn-outline {
    color:#f2055c;
    border: 1px solid #f2055c;
    margin-right: 10px;
}

.carrousel {
    background-image: url(../img/sirena.jpg);
}

.carrousel1 {
    background-image: url(../img/sombrilla.jpg);
}

.carrousel2 {
    background-image: url(../img/mar.jpg);
}

.carrousel3 {
    background-image: url(../img/arena.jpg);
}

.carrousel4 {
    background-image: url(../img/flor.jpg);
}

.carrousel5 {
    background-image: url(../img/margarita.jpg);
}

.carrousel, .carrousel1, .carrousel2,  .carrousel3, .carrousel4, .carrousel5 {
    display: flex;
    background-size: cover;
    background-position:center;
    height: 25vh;
    justify-content: center;        
}

 h2 {
    display: flex;
    justify-items: center;
    align-self: center;
    font-weight: bold;
    font-size: 4rem;
    color:#087373;
}

/*INDEX*/

main {
    min-height:58vh;
}

.btn-danger {
    background-color:#f2055c;
}

.form-check-input:checked {
    background-color:#f2055c;
    border-color: #f2055c;
}


.card {
  border: 1px solid #f2055c;
  box-shadow: 10px 10px #087373;
  gap:2rem;
}

.cardjs {
  border: 1px solid #f2055c;
  box-shadow: 10px 10px #087373;
  gap:2rem;
}

.cardjs img {
    height:13rem;
    object-fit: cover;
}

.card-text {
    height: 30%;
}





/*CONTACT*/

.form-control {
    border: 1px solid #f2055c;
    width: 40vh;
}

/*STATS*/

.containerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.table {
    width: 45%;
    border: 1px solid #f2055c;
    justify-content: center;
}

caption {
    font-size:1.5rem;
    background-color: #F095B6;
    border-top: 1px solid #f2055c; 
    border-left: 1px solid #f2055c; 
    border-right: 1px solid #f2055c; 
    font-weight:600;
    color: #0d0d0d;
    padding-left: 10px;
}

th , td {
    border: 1px solid #f2055c;
}

/*DETAILS*/

.img {
    align-self: center;
}

.card-title {
    text-align: center;
}

/*FOOTER*/

footer{
    min-height: 8vh;
    background-color:#f2055c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons i {
   margin-right: 10px;
   font-size: 2rem;
}

.icons i:hover {
    color:#17bfbf;
    cursor: pointer;
}

footer p {
    font-size:1.2em;
    margin:0;
    
}

@media (max-width:992px) {
    .containerNav {
        flex-direction: column;
    }
    h2 {
        font-size:3rem;
        text-align: center;
    }
    .cardDetails {
        min-width:20%;
    }

}

@media (max-width:768px) {
    ul {
        flex-direction:column;
    }

    .nav-item , .btn-outline {
        border: none;
    }
}



@media (max-width:576px){
    .checkbox {
       flex-wrap: wrap;
       justify-content: center;
    }
    h2 {
        font-size:2.5rem;
        text-align: center;
    }
    ul {
        flex-direction:column;
    }

    


    .cardDetails {
        min-width:20%;
    }

    caption {
        font-size:1rem;
    }

    .logo img {
        width:180px;
        height:40px;
    }
}

@media (max-width:332px) {
    h2 {
        font-size:2.5rem;
        text-align: center;
    }

    .form-control {
        width: 20vh;
    }
   
}
